@import url("https://fonts.gootleapis.com/css2?family=Eczar&family=Kavoon&display=swap");

* {
  font-family: "Kavoon", cursive;
  color: #ff5d8f;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* default */
/* Hero */

.header {
  width: 100%;
}

.hero-section {
  background-color: #ffc4d6;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  padding: 1.25rem;
}

.hero-logo {
  height: 5.625rem;
  width: 5.625rem;
}

.hero-text {
  margin: -0.5rem 0 0 6rem;
  text-align: right;
  font-size: 1.2rem;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.navbar > ul {
  display: none;
  list-style-type: none;
  width: 100%;
  flex-flow: column;
  padding: 0;
  margin: 0;
  background-color: #ffc4d6;
}

.navbar > ul > li a:hover {
  background-color: brown;
}

.navbar > ul.show {
  display: flex;
  align-items: center;
}

.navbar > ul > li a {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  font-family: "Eczar", serif;
  text-decoration: none;
}

.navbar-hamburger-menu {
  display: flex;
  flex-flow: column;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.9rem;
  width: 1.9rem;
  height: 1.9rem;
}

.navbar-hamburger-menu:focus {
  outline: none;
}

/* Main */

.main-content {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
}

/* Welcome */

.welcome-section {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3rem;
}

.welcome-title {
  font-family: "Eczar", serif;
  font-weight: 400;
}

.welcome-container {
  margin: 2rem 0 2rem 0;
}

/* Cake */

.cake-type-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.cake-type-container {
  width: 11rem;
  height: 8rem;
  border: 1px solid black;
  margin-top: 0.9rem;
}

.cake-type-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Footer */

.footer-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: #ffc4d6;
}

.footer-social-container {
  display: flex;
  flex-flow: column;
}

.footer-social {
  width: 90%;
}
.footer-social-image {
  color: #fff;
  width: 1rem;
  height: 1rem;
}

.footer-social-link {
  width: 8rem;
  height: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
  text-decoration: none;
  background-color: #ff5d8f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  font-size: 0.7rem;
  margin: 1.5rem 0 0 0;
}

.footer-feedback {
  font-size: 0.7rem;
  margin: 0 0 0.5rem 0;
}

/* Media Queries */

/* medium */
@media screen and (min-width: 540px) {
  /* Navigation */

  .hero-section {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
  }

  .hero-text {
    margin: 0;
    align-self: end;
  }

  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar > ul {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 0.42rem;
    width: 98%;
  }

  .navbar > ul > li a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
    width: 6.4rem;
    height: 2rem;
    background-color: #ff5d8f;
    text-align: center;
    color: white;
    margin: 0 0.08rem 0 0.08rem;
  }
  .navbar-full-menu {
    margin-top: 1rem;
    background-color: rgb(230, 230, 230);
  }

  .navbar-hamburger-menu {
    display: none;
  }

  /* Welcome */

  /* Footer */

  .footer-social {
    display: flex;
    justify-content: center;
  }

  .footer-social-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 30rem;
  }
}

/* large */
@media screen and (min-width: 900px) {
  .navbar > ul {
    width: 90%;
    padding: 1.2rem 0 1.2rem 0;
    margin-top: 1.5rem;
  }

  .navbar > ul li {
    padding-right: 1rem;
  }

  .navbar > ul > li a {
    width: 8.4rem;
    height: 2rem;
  }

  /* Welcome */

  .welcome-section {
    display: flex;
    flex-flow: row-reverse nowrap;

  }

  .welcome-image {
    width: 50%;
    margin-right: 1rem;
  }

  .welcome-container {
    width: 50%;
    margin:0;
  }
}
